<div class="btn-group">
    <button class="btn btn-primary" {{action 'newTransaction'}}>Add transaction</button>

</div>
<div class="table-responsive">
    <table class="table no-border">
        <thead class="no-border">
        <tr>
            <th>Confirmed</th>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Mean of Payment</th>
            <th>Bank Account</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="no-border-y">
        {{#each transactions as |transaction|}}
            {{transaction-table-row
            model=transaction
            editTransaction='editTransaction'
            duplicateTransaction='duplicateTransaction'}}
        {{/each}}
        </tbody>
    </table>
</div>
<div class="btn-group">
    <button class="btn btn-primary" {{action 'newTransaction'}}>Add transaction</button>

</div>
<p>
    <small>* : Cross currency transaction</small>
</p>

{{yield}}
