<a href="#" {{action 'openSubMenu'}}><i class="fa fa-exchange"></i>Transactions</a>
<ul class="sub-menu" style="{{subMenuStyle}}">
    {{#link-to 'transactions.recurring' tagName='li' href=false}}
        {{#link-to 'transactions.recurring'}}<i class="fa fa-calendar"></i>Recurring Transaction{{/link-to}}
    {{/link-to}}
</ul>

