<a href="#" {{action 'openSubMenu'}}><i class="fa fa-exchange"></i>Transactions</a>
<ul class="sub-menu" style="{{subMenuStyle}}">
    <li><a href="#"><i class="fa fa-calendar"></i>Recurring Transaction</a></li>
</ul>

