<div class="row">
    <div class="col-md-2">
        <h2 id="title">My Accounts</h2>

        <ul class="list-unstyled">
            {{#each model as |account|}}
                <li>
                    {{#link-to 'accounts.show' account}}{{account.name}}{{/link-to}}
                </li>
            {{/each}}
        </ul>

        {{#link-to 'accounts.new' class='btn btn-primary'}}Add a new account{{/link-to}}

    </div>

    <div class="col-md-10">
        {{outlet}}
    </div>
</div>