<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="fa fa-bars"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse">
        <div class="sidebar-logo">
            <div class="logo">
              {{#link-to 'index'}}{{/link-to}}
            </div>
        </div>

        <ul class="nav navbar-nav horizontal">
          {{#link-to 'index' tagName='li' href=false}}
            {{#link-to 'index'}}<i class="fa fa-home"></i>Home{{/link-to}}
          {{/link-to}}
          {{#link-to 'reports' tagName='li' href=false}}
            {{#link-to 'reports'}}<i class="fa fa-bar-chart"></i>Reports{{/link-to}}
          {{/link-to}}
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-exchange"></i>Transactions<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                {{#link-to 'transactions.recurring' tagName='li' href=false}}
                  {{#link-to 'transactions.recurring'}}<i class="fa fa-calendar"></i>Recurring Transaction{{/link-to}}
                {{/link-to}}
              </ul>
          </li>
          {{#link-to 'accounts' tagName='li' href=false}}
            {{#link-to 'accounts'}}<i class="fa fa-bank"></i>Bank Accounts{{/link-to}}
          {{/link-to}}
          {{#link-to 'payment-means' tagName='li' href=false}}
            {{#link-to 'payment-means'}}<i class="fa fa-credit-card"></i>Means of Payment{{/link-to}}
          {{/link-to}}

        </ul>

        <ul class="nav navbar-nav navbar-right user-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true"
                   aria-expanded="false">My account <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a {{action 'invalidateSession'}}><i class="fa fa-sign-out"></i>Log out</a></li>
                </ul>
            </li>
            <li><a href="#">Help</a></li>

        </ul>
        <ul class="nav navbar-nav not-nav">
            <!-- Menu Notification Items -->
        </ul>

    </div>
</div>
