<div class="row">
    <div class="col-md-12 panel panel-default">
        <div class="panel-body">
            <h2 id="title">My recent transactions</h2>
            {{transaction-table transactions=model.transactions paymentMeans=model.paymentMeans bankAccounts=model.bankAccounts categories=model.categories newTransaction='newTransaction'}}
        </div>
    </div>
</div>
{{outlet}}
