<h2 id="title">My recent transactions</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Mean of Payment</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12/01/2017</td>
            <td>Foo bar</td>
            <td>12265.56</td>
            <td>USD</td>
            <td>Credit Card 1</td>
        </tr>
        <tr>
            <td>12/01/2017</td>
            <td>Foo bar</td>
            <td>12265.56</td>
            <td>USD</td>
            <td>Credit Card 1</td>
        </tr>
        <tr>
            <td>12/01/2017</td>
            <td>Foo bar</td>
            <td>12265.56</td>
            <td>USD</td>
            <td>Credit Card 1</td>
        </tr>
        <tr>
            <td>12/01/2017</td>
            <td>Foo bar</td>
            <td>12265.56</td>
            <td>USD</td>
            <td>Credit Card 1</td>
        </tr>
        <tr>
            <td>12/01/2017</td>
            <td>Foo bar</td>
            <td>12265.56</td>
            <td>USD</td>
            <td>Credit Card 1</td>
        </tr>
        <tr>
            <td>12/01/2017</td>
            <td>Foo bar</td>
            <td>12265.56</td>
            <td>USD</td>
            <td>Credit Card 1</td>
        </tr>
    </tbody>
</table>


{{outlet}}
