<div class="cl-mcont">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>My recent transactions</h3>
                </div>
                <div class="content">
                    {{transaction-table
                    transactions=model.transactions
                    createNewCategory='createNewCategory'
                    editTransaction='editTransaction'
                    newTransaction='openTransactionFormModal'
                    }}
                </div>
            </div>
        </div>
    </div>

    {{#if showTransactionForm}}
        {{transaction-form
        bankAccounts=model.bankAccounts
        paymentMeans=model.paymentMeans
        categories=model.categories
        model=selectedTransaction
        removeModal='removeModal'
        createNewCategory='createNewCategory'}}
    {{/if}}

    {{outlet}}
</div>