<div class="row">
    <div class="col-md-3">
        <h2 id="title">My Means of payment</h2>

        <ul class="list-unstyled">
            {{#each model as |mean|}}
                <li>
                    {{#link-to 'payment-means.show' mean}}{{mean.name}}{{/link-to}}
                </li>
            {{/each}}
        </ul>

        {{#link-to 'payment-means.new' class='btn btn-primary'}}Add a new mean of payment{{/link-to}}

    </div>

    <div class="col-md-9">
        {{outlet}}
    </div>

</div>

