<div class="cl-mcont aside">
    <div class="page-aside email">
        <div>
            <div class="content">
                <button class="navbar-toggle" data-target=".mail-nav" data-toggle="collapse" type="button">
                    <span class="fa fa-chevron-down"></span>
                </button>
                <h2 class="page-title">Means of Payment</h2>
            </div>
            <div class="mail-nav collapse">
                <ul class="nav nav-pills nav-stacked ">
                    {{#each model as |mean|}}
                        {{#link-to 'payment-means.show' mean tagName='li' href=false}}
                            {{#link-to 'payment-means.show' mean}}{{mean.name}}{{/link-to}}
                        {{/link-to}}
                    {{/each}}
                </ul>

                <div class="compose">
                    {{#link-to 'payment-means.new' class='btn btn-flat btn-primary'}}
                        Add a mean of payment
                    {{/link-to}}
                </div>
            </div>
        </div>

    </div>

    {{outlet}}
</div>
