<div class="cl-sidebar">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
        <div class="menu-space">
            <div class="content">
                <div class="sidebar-logo">
                    <div class="logo">
                        {{#link-to 'index'}}{{/link-to}}
                    </div>
                </div>
                <div class="side-user">
                    <!-- User progress bar-->
                </div>
                <!--Menu-->
                <ul class="cl-vnavigation">
                    {{#link-to 'index' tagName='li' href=false}}
                        {{#link-to 'index'}}<i class="fa fa-home"></i>Home{{/link-to}}
                    {{/link-to}}
                    <li><a href="#"><i class="fa fa-bar-chart"></i>Reports</a></li>
                    {{#link-to 'accounts' tagName='li' href=false}}
                        {{#link-to 'accounts'}}<i class="fa fa-bank"></i>Bank Accounts{{/link-to}}
                    {{/link-to}}
                    {{#link-to 'payment-means' tagName='li' href=false}}
                        {{#link-to 'payment-means'}}<i class="fa fa-credit-card"></i>Means of Payment{{/link-to}}
                    {{/link-to}}

                </ul>
            </div>
        </div>
    </div>
</div>